<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Write New Chats</title>
</head>
<body>
    <h3>Write new chat</h3>
    <form method="post" action="/chats"> 
        <!-- we define method(which api) & action(where) -->
        <input placeholder="who are you?" name="from">
        <br>
        <textarea name="msg" placeholder="Write your message here."></textarea>
        <br>
        <input placeholder="add reciver ?" name="from">
        <br>
        <button>creat chat</button>
    </form>
</body>
</html>